.Outer-bar{
	border: 2px solid black;
	overflow: hidden;
}

.Inner-bar{
	background-color: orange;
	-webkit-transition-property: width;
    transition-property: width;
    transition-duration: 2s;
	/*width:100px;*/
}

.percentage{
	
	vertical-align:"middle"
}

.Bar-width{
	width:300px;
}
